<th:block>
    <nav class="navbar navbar-expand-lg bg-nav rounded">
        <a class="nav-link text-white active h5" href="/">Shopping List App</a>
        <div class="collapse navbar-collapse d-flex justify-content-end" id="navbarNav">
            <ul class="navbar-nav row">

                <th:block th:if="${session.isEmpty()}">
                    <li class="nav-item col-md-4">
                        <a class="nav-link text-white active h5" th:href="@{/users/login}">Login</a>
                    </li>
                    <li class="nav-item col-md-4">
                        <a class="nav-link text-white active h5" th:href="@{/users/register}">Register</a>
                    </li>
                </th:block>

                <th:block th:unless="${session.isEmpty()}">
                    <li class="nav-item col-md-4">
                        <a class="nav-link text-white active h5" th:href="@{/products/add}">Add Product</a>
                    </li>
                    <li class="nav-item col-md-4">
                        <a class="nav-link text-white active h5" th:href="@{/users/logout}">Logout</a>
                    </li>
                </th:block>

            </ul>
        </div>
    </nav>
</th:block>