<!DOCTYPE html>
<html lang="eng" xmlns:th="http://www.thymeleaf.org">
<head>
    <th:block th:include="~{/fragments/head}"/>
</head>
<body>
    <header>
         <th:block th:include="~{fragments/nav}"/>
    </header>
    <main>
        <div class="container bg-blur rounded mt-5 ">
            <h1>Welcome to Shopping List App</h1>
            <hr class="my-3 bg-white w-50"/>
            <p class="h4">The application is here to help us keep in mind our shopping needs.</p>
            <hr class="my-3 bg-white w-75" />
            <h3>
                <a class="text-primary" th:href="@{/users/login}">Login</a>
                if you have an account or
                <a class="text-primary" th:href="@{/users/register}">Register</a>
                now and check our deals.
            </h3>
        </div>
    </main>
    <footer class="footer bg-transparent py-2">
        <th:block th:include="~{fragments/footer}" />
    </footer>
</body>
</html>
