<!DOCTYPE html>
<html lang="eng" xmlns:th="http://www.thymeleaf.org">
<head>
    <th:block th:include="~{/fragments/head}"/>
</head>
<body>
<header>
    <th:block th:include="~{fragments/nav}"/>
</header>
<main>
    <h1 class="text-center mt-2"><span class="badge badge-pill badge-dark">Login</span></h1>
    <hr class="hr-3 w-25 bg-white"/>
    <form class="mx-auto w-25 bg-blur"
          th:object="${userLoginBindingModel}"
          th:action="@{/users/login}"
          method="POST">
        <th:block th:each=" e : ${#fields.errors()}">
            <small th:text="${e}" class="text-danger col-12 text-center"></small>
        </th:block>
        <br/>
        <div class="form-group">
            <div class="label-holder text-white d-flex justify-content-center">
                <label for="username"
                       class="h3 mb-2">Username
                </label>
            </div>
            <input type="text"
                   class="form-control"
                   th:field="*{username}"
                   th:errorclass="bg-danger"
                   id="username"
                   name="username"/>
        </div>
        <div class="form-group">
            <div class="label-holder text-white d-flex justify-content-center">
                <label for="password" class="h3 mb-2">Password</label>
            </div>
            <input type="password"
                   th:field="*{password}"
                   th:errorclass="bg-danger"
                   class="form-control"
                   id="password"
                   name="password"/>
        </div>
        <div class="button-holder d-flex justify-content-center">
            <button type="submit" class="btn btn-warning mb-3">Login</button>
        </div>
    </form>
</main>

<footer class="footer bg-transparent py-2">
    <th:block th:include="~{fragments/footer}"/>
</footer>
</body>
</html>
